.navbar-nav li {
    margin-right: 3em;
}

/* .bg-cover {
    background-image: url("smaller-aquarium.png");
    background-size: cover;
    background-position: center center;
} */

.bottom {
    height: 300px;
    width: 600px;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul {
    list-style-type: none;
}